<section class="manage-item" role="region" [attr.aria-label]="(isEdit ? 'Editar' : 'Nova') + ' transação'">
    <div class="manage-item__column">
        <header class="manage-item__infos">
            <h2 class="manage-item__title" id="form-title">
                {{ isEdit ? 'Editar' : 'Nova'}} Transação
            </h2>
            <form class="manage-item__form" role="form" aria-labelledby="form-title" (ngSubmit)="onSubmit()" #transactionForm="ngForm">
                <app-select-field 
                    label="Selecione o tipo de transação" 
                    [options]="typeOptions" 
                    (selectionChange)="selectedType = $event" 
                    [selected]="selectedType"
                    [attr.aria-required]="true"/>
                <app-text-field 
                    label="Valor" 
                    type="number" 
                    (valueChange)="value = $event" 
                    [value]="value"
                    [attr.aria-required]="true"/>
                <app-date-field 
                    (dateSelected)="date = $event" 
                    [initialDate]="date"
                    [attr.aria-required]="true"/>
                <button 
                    mat-flat-button 
                    type="submit"
                    [disabled]="!enableButton()"
                    [attr.aria-label]="(isEdit ? 'Salvar alterações da' : 'Criar nova') + ' transação'"
                    class="manage-item__submit-btn">
                    {{ isEdit ? 'Salvar Alterações' : 'Concluir Transação' }}
                </button>
            </form>
        </header>
        <div class="manage-item__footer" aria-hidden="true"></div>
    </div>
</section>