@use 'variables' as *;
@use 'colors' as colors;
@use 'breakpoints' as *;

.header {
    background-color: colors.$color-primary;
    padding: 1rem;

    &__menu {
        display: none;
    }

    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        padding: 0.5em 1em;
    }

    &__username {
        color: colors.$color-white;
        font-size: 13px;
        font-weight: 500;
    }

    &__icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include mobile {
        &__content {
            padding: 0.5em 1em;
            justify-content: space-between;
        }

        &__menu {
            display: inline;
            color: colors.$color-success;

            &-button {
                border: none;
                background-color: transparent;
            }

            &-icon {
                color: colors.$color-orange;

            }
        }

        &__username {
            display: none;
        }
    }
}