@use '../../../../assets/styles/_variables' as *;
@use '../../../../assets/styles/colors' as colors;


.header-container {
    width: 100vw;
    background-color: colors.$color-primary;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
    align-items: center;

    .name {
        color: colors.$color-white
    }
}