@use '../../../../assets/styles/_variables' as *;
@use '../../../../assets/styles/colors' as colors;

.welcome-card-container {
    background-color: colors.$color-primary;
    color: colors.$color-white;
    height: 40vh;
    border-radius: 1em;
    padding: 2em;
}