<div class="welcome-card">
    <div class="welcome-card__column">
        <div class="welcome-card__infos">
            <div>
                <p class="welcome-card__username">
                    Olá, {{ userName }}! :)
                </p>
                <p class="welcome-card__date">
                    {{ currentDate }}
                </p>
            </div>
            <div class="welcome-card__amount">
                <app-amount [amount]="amount"></app-amount>
            </div>
        </div>
        <div class="welcome-card__footer">
        </div>
    </div>
</div>