@use 'variables' as *;
@use 'colors' as colors;
@use 'breakpoints' as *;

.welcome-card {
    background-color: colors.$color-primary;
    color: colors.$color-white;
    height: 60vh;
    width: 100%;
    border-radius: 1em;

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__infos {
        background-image: url('../../../../assets/images/pixels-top.svg');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        display: flex;
        justify-content: space-between;
    }

    &__username {
        font-size: 2rem;
        padding: 2rem 2rem 1rem 2rem;
    }

    &__date {
        font-size: 1.2rem;
        padding: 2rem 2rem 1rem 2rem;
    }

    &__amount {
        width: 40%;
        display: flex;
        align-items: end;
        z-index: 9;
    }

    &__footer {
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: end;
        display: flex;
        background-image: url('../../../../assets/images/pixels-bottom.svg');
        background-repeat: no-repeat;
        background-position: 0 100%;
    }

    @include mobile {
        height: 80vh;
        width: 90vw;

        &__infos {
            display: flex;
            flex-direction: column;
            background-position: 0 0;
            text-align: center;
        }

        &__amount {
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }

        &__footer {
            height: 50%;
            flex-direction: row-reverse;
            width: 100%;
            background-position: 100% 100%;
            justify-content: start;
        }
    }

    @include tablet {
        height: 50vh;
        width: 95vw;

        &__footer {
            height: auto;
            width: 50%;
        }
    }
}