@use 'variables' as *;
@use 'colors' as colors;
@use 'breakpoints' as *;
@use '@angular/material' as mat;

.text-field {
    width: 100%;
}

::ng-deep .text-field .mat-form-field-flex {
  background-color: #fff; // fundo branco
}

::ng-deep .text-field .mat-form-field-outline-thick {
  stroke: #009688; // cor da borda ativa
}

::ng-deep .text-field .mat-form-field-outline-start,
::ng-deep .text-field .mat-form-field-outline-end {
  border-color: #009688; // cor da borda normal
}