@use '../../../../assets/styles/colors' as colors;
@use '../../../../assets/styles/breakpoints' as *;

.statement {
    background: colors.$color-light-gray;
    padding: 1rem;
    border-radius: 1em;
    width: 70%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 1.2rem;
            margin: 0;
        }

        .statement__actions {
            display: flex;
            gap: 0.5rem;

            button {
                border: none;
                border-radius: 100%;
                cursor: pointer;

                img {
                    width: 2rem;
                }
            }
        }
    }

    &__list {
        margin-top: 1rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid colors.$color-success;
        padding: 0.5rem 0;
        line-height: 1.75rem;
        color: colors.$color-black;

        .statement__month {
            font-size: 0.9rem;
            color: colors.$color-success;
            margin: 0;
            text-transform: capitalize;
        }

        .statement__type {
            font-size: 0.9rem;
            margin: 0.2rem 0 0;
        }

        .statement__value {
            font-weight: bold;
            margin: 0;
            font-size: 1rem;
            color: colors.$color-black;
        }

        .statement__date {
            font-size: 0.9rem;
            margin-top: 2rem;
            color: colors.$color-gray;
            white-space: nowrap;
        }
    }

    @include tablet {
        width: 95%;
        padding: 2rem 17rem;
    }
    
    @include mobile {
        width: 75vw;
        padding: 2rem;
    }
}