<section class="statement">
  <div class="statement__header">
    <h2>Extrato</h2>
  </div>

  <div class="statement__list">
    <div class="statement__item" *ngFor="let item of statementItems">
      <div>
        <p class="statement__month">
          {{ getMonth(item.date) || '' }}
        </p>
        <p class="statement__type">
          {{ getType(item.type) || '' }}
        </p>
        <p class="statement__value">
          {{ getValue(item) }}
        </p>
      </div>
      <div>
        <p class="statement__date">
          {{ formatDate(item.date) || '' }}
        </p>
        <div class="statement__actions">
          <button aria-label="Editar" title="Editar Transação" (click)="editItem(item.id)">
            <img src=" /assets/images/buttons/edit-button.png" alt="Editar" />
          </button>
          <button aria-label="Excluir" title="Excluir Transação" (click)="deleteItem(item.id)">
            <img src="/assets/images/buttons/delete-button.png" alt="Excluir" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>