@use '../assets/styles/_variables' as *;
@use '../assets/styles/colors' as colors;

.app-container {
  font-family: $font-family-base;
  background-color: colors.$color-light-green;
  margin: 0;
  padding: 0;
  color: colors.$color-primary;
  width: 100vw;
  height: 100vh;
}
