@import '../assets/styles/_variables';

.app-container {
  font-family: $font-family-base;
  background-color: $color-light-green;
  margin: 0;
  padding: 0;
  color: $color-primary;
  width: 100vw;
  height: 100vh;
}
