@use 'variables' as *;
@use 'colors' as colors;
@use 'breakpoints' as *;

.app-container {
  font-family: $font-family-base;
  background-color: colors.$color-light-green;
  margin: 0;
  padding: 0;
  color: colors.$color-primary;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.content {
  &.no-header {
    height: 100vh;
  }
}
