<div class="amount">
  <div class="amount__header">
    <h2>Saldo</h2>
    <mat-icon *ngIf="showAmount" aria-hidden="false" aria-label="Hide amount" fontIcon="visibility"
      (click)=" showAmount = !showAmount" />
    <mat-icon *ngIf="!showAmount" aria-hidden="false" aria-label="Show amount" fontIcon="visibility_off"
      (click)=" showAmount = !showAmount" />
  </div>
  <div class="divider"></div>
  <div class="amount__content">
    <div class="amount__account-type">Conta Corrente</div>
    <div class="amount__value">
      R$ {{ showAmount ? amount : 'R$ ******' }}</div>
  </div>
</div>