<div class="home">
    <div class="sidebar">
        <app-side-bar></app-side-bar>
    </div>
    <div class="welcome">
        <app-welcome-card [userName]="userName" [amount]="amount">
        </app-welcome-card>
    </div>
    <div class="transactions">
        <app-manage-item (itemSubmited)="createItem($event)" (itemEdited)="editItem($event)">
        </app-manage-item>
    </div>
    <div class="extract">
        <app-statement-items [statementItems]="statementItems" (edit)="openModal($event)" (delete)="deleteItem($event)">
        </app-statement-items>
    </div>
</div>