@use '../../../assets/styles/breakpoints' as *;

.home {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;

    .sidebar {
        height: 100%;
        grid-area: 1 / 1 / 3 / 2;
    }

    .welcome {
        width: 50vw;
        grid-area: 1 / 2 / 2 / 3;
    }

    .transactions {
        grid-area: 2 / 2 / 3 / 3;
    }

    .extract {
        height: 100%;
        grid-area: 1 / 3 / 3 / 4;
    }

    @include mobile {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

        .sidebar {
            display: none;
        }

        .welcome {
            grid-area: 1 / 1 / 2 / 2;
        }

        .transactions {
            grid-area: 2 / 1 / 3 / 2;
        }

        .extract {
            grid-area: 3 / 1 / 4 / 2;
        }
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr repeat(3, 1fr);
        grid-row-gap: 0.5em;
        padding: 1.2rem;

        .sidebar {
            grid-area: 1 / 1 / 2 / 2;
        }

        .welcome {
            grid-area: 2 / 1 / 3 / 2;
        }

        .transactions {
            grid-area: 3 / 1 / 4 / 2;
        }

        .extract {
            grid-area: 4 / 1 / 5 / 2;
        }
    }
}