// Paleta principal
$color-primary: #004D61;

// Neutros
$color-white: #ffffff;
$color-black: #000000;

$color-light-green: #E4EDE3;
$color-light-gray: #F5F5F5;

// Estados
$color-success: #34A853;
$color-error: #EA4335;
$color-hover: #1C1C1C;
